<a href="https://colab.research.google.com/github/jminango20/Pandas/blob/master/Data_Types_and_Missing_Values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 We will learn how to investigate data types within a DataFrame or Series. You'll also learn how to find and replace entries.

In [1]:
import pandas as pd
df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Pandas/winemag-data_first150k.csv')
df.head()

   Unnamed: 0 country  ...             variety                   winery
0           0      US  ...  Cabernet Sauvignon                    Heitz
1           1   Spain  ...       Tinta de Toro  Bodega Carmen Rodríguez
2           2      US  ...     Sauvignon Blanc                 Macauley
3           3      US  ...          Pinot Noir                    Ponzi
4           4  France  ...  Provence red blend     Domaine de la Bégude

[5 rows x 11 columns]

In [2]:
df.columns

Index(['Unnamed: 0', 'country', 'description', 'designation', 'points',
       'price', 'province', 'region_1', 'region_2', 'variety', 'winery'],
      dtype='object')

In [3]:
df.drop(columns='Unnamed: 0',inplace=True)

In [4]:
df.head()

  country  ...                   winery
0      US  ...                    Heitz
1   Spain  ...  Bodega Carmen Rodríguez
2      US  ...                 Macauley
3      US  ...                    Ponzi
4  France  ...     Domaine de la Bégude

[5 rows x 10 columns]

## Dtypes
The data type for a column in a DataFrame or a Series is known as the dtype.

In [5]:
df.price.dtype

dtype('float64')

In [6]:
df.dtypes

country         object
description     object
designation     object
points           int64
price          float64
province        object
region_1        object
region_2        object
variety         object
winery          object
dtype: object

It's possible to convert a column of one type into another wherever such a conversion makes sense by using the `astype()` function. For example, we may transform the points column from its existing int64 data type into a `float64` data type:

In [7]:
df.points.astype('float64')

0         96.0
1         96.0
2         96.0
3         96.0
4         95.0
          ...
150925    91.0
150926    91.0
150927    91.0
150928    90.0
150929    90.0
Name: points, Length: 150930, dtype: float64

A DataFrame or Series index has its own `dtype`, too:

In [9]:
df.index.dtype

dtype('int64')

## Missing data
Entries missing values are given the value `NaN`, short for "Not a Number". For technical reasons these NaN values are always of the float64 dtype.

Pandas provides some methods specific to missing data. To select NaN entries you can use `pd.isnull()` (or its companion `pd.notnull()`). This is meant to be used thusly:

In [10]:
df[pd.isnull(df.country)]

       country  ...     winery
1133       NaN  ...   Tsililis
1440       NaN  ...  Büyülübağ
68226      NaN  ...    Chilcas
113016     NaN  ...    Chilcas
135696     NaN  ...    Chilcas

[5 rows x 10 columns]

In [12]:
df.head()

  country  ...                   winery
0      US  ...                    Heitz
1   Spain  ...  Bodega Carmen Rodríguez
2      US  ...                 Macauley
3      US  ...                    Ponzi
4  France  ...     Domaine de la Bégude

[5 rows x 10 columns]

Replacing missing values is a common operation. Pandas provides a really handy method for this problem: `fillna()`. `fillna()` provides a few different strategies for mitigating such data. For example, we can simply replace each NaN with an "Unknown":

In [13]:
df[pd.isnull(df.region_2)]

       country  ...                   winery
1        Spain  ...  Bodega Carmen Rodríguez
4       France  ...     Domaine de la Bégude
5        Spain  ...                Numanthia
6        Spain  ...                 Maurodos
7        Spain  ...  Bodega Carmen Rodríguez
...        ...  ...                      ...
150925   Italy  ...    Feudi di San Gregorio
150926  France  ...                H.Germain
150927   Italy  ...                Terredora
150928  France  ...                   Gosset
150929   Italy  ...            Alois Lageder

[89977 rows x 10 columns]

In [14]:
df.region_2.fillna('Unknow')

0                      Napa
1                    Unknow
2                    Sonoma
3         Willamette Valley
4                    Unknow
                ...
150925               Unknow
150926               Unknow
150927               Unknow
150928               Unknow
150929               Unknow
Name: region_2, Length: 150930, dtype: object

In [15]:
df.columns

Index(['country', 'description', 'designation', 'points', 'price', 'province',
       'region_1', 'region_2', 'variety', 'winery'],
      dtype='object')