<a href="https://colab.research.google.com/github/jminango20/Pandas/blob/master/Grouping_and_Sorting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Groupwise analysis

In [30]:
import pandas as pd
df = pd.read_csv('/content/contentdrive/My Drive/Colab Notebooks/Pandas/winemag-data_first150k.csv')
df.head()

   Unnamed: 0 country  ...             variety                   winery
0           0      US  ...  Cabernet Sauvignon                    Heitz
1           1   Spain  ...       Tinta de Toro  Bodega Carmen Rodríguez
2           2      US  ...     Sauvignon Blanc                 Macauley
3           3      US  ...          Pinot Noir                    Ponzi
4           4  France  ...  Provence red blend     Domaine de la Bégude

[5 rows x 11 columns]

In [31]:
df.columns

Index(['Unnamed: 0', 'country', 'description', 'designation', 'points',
       'price', 'province', 'region_1', 'region_2', 'variety', 'winery'],
      dtype='object')

In [32]:
df.drop(columns='Unnamed: 0',inplace=True)
df.head()

  country  ...                   winery
0      US  ...                    Heitz
1   Spain  ...  Bodega Carmen Rodríguez
2      US  ...                 Macauley
3      US  ...                    Ponzi
4  France  ...     Domaine de la Bégude

[5 rows x 10 columns]

`groupby()` created a group of df which allotted the same point values to the given wines. Then, for each of these groups, we grabbed the `points()` column and counted how many times it appeared. `value_counts()` is just a shortcut to this `groupby()` operation.

In [33]:
df.groupby(by='points').points.value_counts()

points  points
80      80          898
81      81         1502
82      82         4041
83      83         6048
84      84        10708
85      85        12411
86      86        15573
87      87        20747
88      88        17871
89      89        12921
90      90        15973
91      91        10536
92      92         9241
93      93         6017
94      94         3462
95      95         1716
96      96          695
97      97          365
98      98          131
99      99           50
100     100          24
Name: points, dtype: int64

We can use any of the summary functions we've used before with this data. For example, to get the cheapest wine in each point value category, we can do the following:

In [34]:
df.groupby(by='points').price.min()

points
80      5.0
81      5.0
82      5.0
83      4.0
84      4.0
85      4.0
86      4.0
87      6.0
88      6.0
89      7.0
90      5.0
91      8.0
92     11.0
93     12.0
94     15.0
95     20.0
96     20.0
97     42.0
98     50.0
99     65.0
100    65.0
Name: price, dtype: float64

You can think of each group we generate as being a slice of our DataFrame containing only data with values that match. This DataFrame is accessible to us directly using the `apply()` method, and we can then manipulate the data in any way we see fit. For example, here's one way of selecting the name of the first wine reviewed from each winery in the dataset:

In [35]:
df.shape

(150930, 10)

In [36]:
df.groupby(by='winery').apply(lambda df: df.designation.iloc[0])

winery
'37 Cellars                                      NaN
1+1=3                             Cabernet Sauvignon
10 Knots                                   Moonraker
1000 Stories         Bourbon Barrel Aged Batch No 13
1040FU                                           NaN
                                  ...
Ñandú                                            NaN
Único Luis Miguel                       Gran Reserva
àMaurice                            Gamache Vineyard
áster                                        Crianza
Štoka                                        Grganja
Length: 14810, dtype: object

For even more fine-grained control, you can also group by more than one column. For an example, here's how we would pick out the best wine by country and province:

In [37]:
df.groupby(by=['country','province']).apply(lambda df: df.loc[df.points.idxmax()])

                              country  ...                winery
country   province                     ...
Albania   Mirditë             Albania  ...                Arbëri
Argentina Mendoza Province  Argentina  ...  Bodega Catena Zapata
          Other             Argentina  ...                Colomé
Australia Australia Other   Australia  ...              Penfolds
          New South Wales   Australia  ...            De Bortoli
...                               ...  ...                   ...
Uruguay   Juanico             Uruguay  ...        Familia Deicas
          Montevideo          Uruguay  ...                 Bouza
          Progreso            Uruguay  ...                Pisano
          San Jose            Uruguay  ...        Castillo Viejo
          Uruguay             Uruguay  ...                 Bouza

[455 rows x 10 columns]

Another `groupby()` method worth mentioning is `agg()`, which lets you run a bunch of different functions on your DataFrame simultaneously. For example, we can generate a simple statistical summary of the dataset as follows:

In [38]:
df.groupby(by='country').price.agg([len,min,max])

                            len   min     max
country
Albania                     2.0  20.0    20.0
Argentina                5631.0   4.0   250.0
Australia                4957.0   5.0   850.0
Austria                  3057.0   8.0  1100.0
Bosnia and Herzegovina      4.0  12.0    13.0
Brazil                     25.0  11.0    35.0
Bulgaria                   77.0   7.0    28.0
Canada                    196.0  12.0   145.0
Chile                    5816.0   5.0   400.0
China                       3.0   7.0    27.0
Croatia                    89.0  12.0    65.0
Cyprus                     31.0  10.0    22.0
Czech Republic              6.0  15.0    25.0
Egypt                       3.0   NaN     NaN
England                     9.0  38.0    75.0
France                  21098.0   5.0  2300.0
Georgia                    43.0   9.0    40.0
Germany                  2452.0   5.0   775.0
Greece                    884.0   7.0   120.0
Hungary                   231.0   7.0   764.0
India                       8.0  10.0    20.0
Israel                    630.0   8.0   150.0
Italy                   23478.0   5.0   900.0
Japan                       2.0  24.0    24.0
Lebanon                    37.0  12.0    51.0
Lithuania                   8.0  10.0    10.0
Luxembourg                  9.0  36.0    50.0
Macedonia                  16.0  12.0    25.0
Mexico                     63.0  12.0   108.0
Moldova                    71.0   8.0    42.0
Montenegro                  2.0  10.0    10.0
Morocco                    12.0   6.0    35.0
New Zealand              3320.0   7.0   125.0
Portugal                 5322.0   4.0   980.0
Romania                   139.0   4.0   320.0
Serbia                     14.0  15.0    42.0
Slovakia                    3.0  15.0    16.0
Slovenia                   94.0   7.0    90.0
South Africa             2258.0   5.0   145.0
South Korea                 4.0  11.0    16.0
Spain                    8268.0   4.0   770.0
Switzerland                 4.0  19.0    38.0
Tunisia                     2.0   NaN     NaN
Turkey                     52.0  14.0   120.0
US                      62397.0   4.0  2013.0
US-France                   1.0  50.0    50.0
Ukraine                     5.0  13.0    13.0
Uruguay                    92.0   7.0    60.0

## Multi-indexes
In all of the examples we've seen thus far we've been working with DataFrame or Series objects with a single-label index. `groupby()` is slightly different in the fact that, depending on the operation we run, it will sometimes result in what is called a multi-index.

A multi-index differs from a regular index in that it has multiple levels. For example:

In [45]:
countries_reviewed = df.groupby(by=['country','province']).description.agg([len,min,max])
countries_reviewed

                             len  ...                                                max
country   province                ...
Albania   Mirditë              2  ...  This garnet-colored wine made from 100% Kallme...
Argentina Mendoza Province  4742  ...  nky aromas of raspberry and blackberry. This s...
          Other              889  ...  You don't see much South American Tannat outsi...
Australia Australia Other    553  ...  “Won't cost you an arm and a leg” is Fat Croc'...
          New South Wales    246  ...  Young Hunter Valley Sémillon is one of the mos...
...                          ...  ...                                                ...
Uruguay   Juanico             19  ...  Weighty and rich, but the melon core to this U...
          Montevideo           3  ...  Clove and barrel spice are dominant factors in...
          Progreso             5  ...  Ripe aromas of raisin and cassis come with cre...
          San Jose            15  ...  While this ranks as one of the best Uruguayan ...
          Uruguay             18  ...  This wine captures the enigma that is Uruguaya...

[455 rows x 3 columns]

In [46]:
mi = countries_reviewed.index
print(mi)
type(mi)

MultiIndex([(  'Albania',           'Mirditë'),
            ('Argentina',  'Mendoza Province'),
            ('Argentina',             'Other'),
            ('Australia',   'Australia Other'),
            ('Australia',   'New South Wales'),
            ('Australia',        'Queensland'),
            ('Australia',   'South Australia'),
            ('Australia',          'Tasmania'),
            ('Australia',          'Victoria'),
            ('Australia', 'Western Australia'),
            ...
            (  'Ukraine',           'Ukraine'),
            (  'Uruguay',         'Atlantida'),
            (  'Uruguay',         'Canelones'),
            (  'Uruguay',           'Colonia'),
            (  'Uruguay',       'El Colorado'),
            (  'Uruguay',           'Juanico'),
            (  'Uruguay',        'Montevideo'),
            (  'Uruguay',          'Progreso'),
            (  'Uruguay',          'San Jose'),
            (  'Uruguay',           'Uruguay')],
           names=['country', 'province'], length=455)

pandas.core.indexes.multi.MultiIndex

in general the multi-index method you will use most often is the one for converting back to a regular index, the `reset_index()` method:

In [47]:
countries_reviewed.reset_index()

       country  ...                                                max
0      Albania  ...  This garnet-colored wine made from 100% Kallme...
1    Argentina  ...  nky aromas of raspberry and blackberry. This s...
2    Argentina  ...  You don't see much South American Tannat outsi...
3    Australia  ...  “Won't cost you an arm and a leg” is Fat Croc'...
4    Australia  ...  Young Hunter Valley Sémillon is one of the mos...
..         ...  ...                                                ...
450    Uruguay  ...  Weighty and rich, but the melon core to this U...
451    Uruguay  ...  Clove and barrel spice are dominant factors in...
452    Uruguay  ...  Ripe aromas of raisin and cassis come with cre...
453    Uruguay  ...  While this ranks as one of the best Uruguayan ...
454    Uruguay  ...  This wine captures the enigma that is Uruguaya...

[455 rows x 5 columns]

## Sorting
Looking again at countries_reviewed we can see that grouping returns data in index order, not in value order. That is to say, when outputting the result of a groupby, the order of the rows is dependent on the values in the index, not in the data.

To get data in the order want it in we can sort it ourselves. The `sort_values()` method is handy for this.

In [49]:
countries_reviewed.sort_values(by='len')

                            len  ...                                                max
country  province                ...
Greece   Central Greece       1  ...  Aromas of opulent white fruit, flowers, peach ...
         Zitsa                1  ...  Made in Zitsa, the only area within Epirus, Gr...
Cyprus   Pafos                1  ...  This Cypriot white has a rich, lemony nose and...
Slovenia Slovenska Istra      1  ...  This Slovenian orange-style wine spends 30 mon...
Hungary  Pannon               1  ...  Aromas of lemon curd and lemon pith are bright...
...                         ...  ...                                                ...
Spain    Northern Spain    4892  ...  Zesty, edgy red berry aromas are bright, scrat...
France   Bordeaux          6111  ...  “For me, this vintage is what makes Margaux sp...
Italy    Tuscany           7281  ...  “Piano... Piano” means “easy... easy” in Itali...
US       Washington        9750  ...  “Vif” is a French word that loosely translates...
         California       44508  ...  “Whole cluster” refers to the fermentation pra...

[455 rows x 3 columns]

`sort_values()` defaults to an ascending sort, where the lowest values go first. However, most of the time we want a descending sort, where the higher numbers go first. That goes thusly:

In [50]:
countries_reviewed.sort_values(by='len',ascending=False)

                                                      len  ...                                                max
country     province                                       ...
US          California                              44508  ...  “Whole cluster” refers to the fermentation pra...
            Washington                               9750  ...  “Vif” is a French word that loosely translates...
Italy       Tuscany                                  7281  ...  “Piano... Piano” means “easy... easy” in Itali...
France      Bordeaux                                 6111  ...  “For me, this vintage is what makes Margaux sp...
Spain       Northern Spain                           4892  ...  Zesty, edgy red berry aromas are bright, scrat...
...                                                   ...  ...                                                ...
Switzerland Neuchâtel                                   1  ...  The bouquet of this wine shows condensed fruit...
            Ticino                                      1  ...  A soft blackberry, vanilla and plum nose is fo...
            Valais                                      1  ...  Vanilla and lemon curd aromas bring nuance and...
            Vino da Tavola della Svizzera Italiana      1  ...  A savory nose of smoked meats, pepper and spic...
Greece      Krania Olympus                              1  ...  Lemon, orange and tangerine aromas are followe...

[455 rows x 3 columns]

To sort by index values, use the companion method `sort_index()`. This method has the same arguments and default order:

In [51]:
countries_reviewed.sort_index()

                             len  ...                                                max
country   province                ...
Albania   Mirditë              2  ...  This garnet-colored wine made from 100% Kallme...
Argentina Mendoza Province  4742  ...  nky aromas of raspberry and blackberry. This s...
          Other              889  ...  You don't see much South American Tannat outsi...
Australia Australia Other    553  ...  “Won't cost you an arm and a leg” is Fat Croc'...
          New South Wales    246  ...  Young Hunter Valley Sémillon is one of the mos...
...                          ...  ...                                                ...
Uruguay   Juanico             19  ...  Weighty and rich, but the melon core to this U...
          Montevideo           3  ...  Clove and barrel spice are dominant factors in...
          Progreso             5  ...  Ripe aromas of raisin and cassis come with cre...
          San Jose            15  ...  While this ranks as one of the best Uruguayan ...
          Uruguay             18  ...  This wine captures the enigma that is Uruguaya...

[455 rows x 3 columns]

Finally, know that you can sort by more than one column at a time:

In [52]:
countries_reviewed.sort_values(by=['country','len'])

                             len  ...                                                max
country   province                ...
Albania   Mirditë              2  ...  This garnet-colored wine made from 100% Kallme...
Argentina Other              889  ...  You don't see much South American Tannat outsi...
          Mendoza Province  4742  ...  nky aromas of raspberry and blackberry. This s...
Australia Queensland           3  ...  Comes from a vineyard in Queensland that is 85...
          Tasmania            47  ...  Ultra fresh, with bright aromas of passion fru...
...                          ...  ...                                                ...
Uruguay   Colonia              6  ...  Orange and apricot aromas are backed by big, b...
          San Jose            15  ...  While this ranks as one of the best Uruguayan ...
          Uruguay             18  ...  This wine captures the enigma that is Uruguaya...
          Canelones           19  ...  This classic South American red has robust, ru...
          Juanico             19  ...  Weighty and rich, but the melon core to this U...

[455 rows x 3 columns]