<a href="https://colab.research.google.com/github/jminango20/Pandas/blob/master/Summary_functions_and_Maps.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Extract insights from our data

In [7]:
from google.colab import drive

In [9]:
import pandas as pd
df = pd.read_csv('/content/contentdrive/My Drive/Colab Notebooks/Pandas/winemag-data_first150k.csv')

In [10]:
df.head()

   Unnamed: 0 country  ...             variety                   winery
0           0      US  ...  Cabernet Sauvignon                    Heitz
1           1   Spain  ...       Tinta de Toro  Bodega Carmen Rodríguez
2           2      US  ...     Sauvignon Blanc                 Macauley
3           3      US  ...          Pinot Noir                    Ponzi
4           4  France  ...  Provence red blend     Domaine de la Bégude

[5 rows x 11 columns]

## Summary Functions

In [11]:
df.points.describe()

count    150930.000000
mean         87.888418
std           3.222392
min          80.000000
25%          86.000000
50%          88.000000
75%          90.000000
max         100.000000
Name: points, dtype: float64

In [12]:
df['country'].describe()

count     150925
unique        48
top           US
freq       62397
Name: country, dtype: object

If you want to get some particular simple summary statistic about a column in a DataFrame or a Series, there is usually a helpful pandas function that makes it happen.

In [13]:
df.points.mean()

87.8884184721394

In [14]:
#To see a list of unique values we can use the unique() function:
df.country.unique()

array(['US', 'Spain', 'France', 'Italy', 'New Zealand', 'Bulgaria',
       'Argentina', 'Australia', 'Portugal', 'Israel', 'South Africa',
       'Greece', 'Chile', 'Morocco', 'Romania', 'Germany', 'Canada',
       'Moldova', 'Hungary', 'Austria', 'Croatia', 'Slovenia', nan,
       'India', 'Turkey', 'Macedonia', 'Lebanon', 'Serbia', 'Uruguay',
       'Switzerland', 'Albania', 'Bosnia and Herzegovina', 'Brazil',
       'Cyprus', 'Lithuania', 'Japan', 'China', 'South Korea', 'Ukraine',
       'England', 'Mexico', 'Georgia', 'Montenegro', 'Luxembourg',
       'Slovakia', 'Czech Republic', 'Egypt', 'Tunisia', 'US-France'],
      dtype=object)

In [15]:
#To see a list of unique values and how often they occur in the dataset, we can use the value_counts() method:
df.country.value_counts()

US                        62397
Italy                     23478
France                    21098
Spain                      8268
Chile                      5816
Argentina                  5631
Portugal                   5322
Australia                  4957
New Zealand                3320
Austria                    3057
Germany                    2452
South Africa               2258
Greece                      884
Israel                      630
Hungary                     231
Canada                      196
Romania                     139
Slovenia                     94
Uruguay                      92
Croatia                      89
Bulgaria                     77
Moldova                      71
Mexico                       63
Turkey                       52
Georgia                      43
Lebanon                      37
Cyprus                       31
Brazil                       25
Macedonia                    16
Serbia                       14
Morocco                      12
Luxembourg                    9
England                       9
Lithuania                     8
India                         8
Czech Republic                6
Ukraine                       5
Switzerland                   4
Bosnia and Herzegovina        4
South Korea                   4
Slovakia                      3
China                         3
Egypt                         3
Montenegro                    2
Albania                       2
Japan                         2
Tunisia                       2
US-France                     1
Name: country, dtype: int64

## Maps

A map is a term, borrowed from mathematics, for a function that takes one set of values and "maps" them to another set of values. In data science we often have a need for creating new representations from existing data, or for transforming data from the format it is in now to the format that we want it to be in later. Maps are what handle this work, making them extremely important for getting your work done!

In [16]:
df_point_mean = df.points.mean()

In [17]:
df.points.map(lambda p: p-df_point_mean)

0         8.111582
1         8.111582
2         8.111582
3         8.111582
4         7.111582
            ...
150925    3.111582
150926    3.111582
150927    3.111582
150928    2.111582
150929    2.111582
Name: points, Length: 150930, dtype: float64

In [18]:
df.head()

   Unnamed: 0 country  ...             variety                   winery
0           0      US  ...  Cabernet Sauvignon                    Heitz
1           1   Spain  ...       Tinta de Toro  Bodega Carmen Rodríguez
2           2      US  ...     Sauvignon Blanc                 Macauley
3           3      US  ...          Pinot Noir                    Ponzi
4           4  France  ...  Provence red blend     Domaine de la Bégude

[5 rows x 11 columns]

`apply()` is the equivalent method if we want to transform a whole DataFrame by calling a custom method on each row.

In [19]:
def remean_point(row):
  row.points = row.points - df_point_mean
  return row

df.apply(remean_point,axis='columns')

        Unnamed: 0 country  ...             variety                   winery
0                0      US  ...  Cabernet Sauvignon                    Heitz
1                1   Spain  ...       Tinta de Toro  Bodega Carmen Rodríguez
2                2      US  ...     Sauvignon Blanc                 Macauley
3                3      US  ...          Pinot Noir                    Ponzi
4                4  France  ...  Provence red blend     Domaine de la Bégude
...            ...     ...  ...                 ...                      ...
150925      150925   Italy  ...         White Blend    Feudi di San Gregorio
150926      150926  France  ...     Champagne Blend                H.Germain
150927      150927   Italy  ...         White Blend                Terredora
150928      150928  France  ...     Champagne Blend                   Gosset
150929      150929   Italy  ...        Pinot Grigio            Alois Lageder

[150930 rows x 11 columns]

If we had called `reviews.apply()` with `axis='index'`, then instead of passing a function to transform each row, we would need to give a function to transform each column.

Note that `map()` and `apply()` return new, transformed Series and DataFrames, respectively. They don't modify the original data they're called on. If we look at the first row of reviews, we can see that it still has its original points value.

In [20]:
#Pandas provides many common mapping operations as built-ins. For example, here's a faster way of remeaning our points column:
df_point_mean = df.points.mean()
df.points - df_point_mean

0         8.111582
1         8.111582
2         8.111582
3         8.111582
4         7.111582
            ...
150925    3.111582
150926    3.111582
150927    3.111582
150928    2.111582
150929    2.111582
Name: points, Length: 150930, dtype: float64

In this code we are performing an operation between a lot of values on the left-hand side (everything in the Series) and a single value on the right-hand side (the mean value). Pandas looks at this expression and figures out that we must mean to subtract that mean value from every value in the dataset.

Pandas will also understand what to do if we perform these operations between Series of equal length. For example, an easy way of combining country and region information in the dataset would be to do the following:

In [21]:
df.country + "-" + df.region_1 + "-" + df.region_2

0                            US-Napa Valley-Napa
1                                            NaN
2                       US-Knights Valley-Sonoma
3         US-Willamette Valley-Willamette Valley
4                                            NaN
                           ...
150925                                       NaN
150926                                       NaN
150927                                       NaN
150928                                       NaN
150929                                       NaN
Length: 150930, dtype: object

These operators are faster than map() or apply() because they uses speed ups built into pandas. All of the standard Python operators (>, <, ==, and so on) work in this manner.

However, they are not as flexible as map() or apply(), which can do more advanced things, like applying conditional logic, which cannot be done with addition and subtraction alone.